#container {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  width: 100%;
  background-color: dodgerblue;
}

.divGrid {
  flex-grow: 1;
  /* flex-basis: 6%; */
  width: 100%;
  /* height: 100%; */
  height: 10px;
  border: 1px solid black;
  align-content: center;
  text-align: center;
}

.divGrid:hover {
  background-color: black;
}
